@import "fuentes";
@import "variables";

a{
	text-decoration: none;
	color: #9bb4ef;
}

img{
	width: 100px;
}

body{
	background-image: url("../media/fondoHeroes.png");
	color: #9bb4ef;
}
.bg-dark__navbar{
	background-color: rgba(000,000,000,.5);
}


.menu a{
	text-decoration: none;
	color: #9bb4ef;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	text-decoration-line: none;
}

.titulo{
	font-size: 1.5rem;
	font-weight: 800;
	word-spacing: 0.3rem;
	margin-top: 2vh;
	margin-left: 2vh;
	text-align: left;
	wrap: wrap;
	.titulo__cursos{
	margin-bottom: 5vh;
	font-size: 2rem;
	font-weight: 800;
	line-height: 2rem;
	word-spacing: 0.3rem;
}
}

#flexBox{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 150px;
}

.redes{
	list-style-position: inside;
	font-size: 1rem;
	margin-left: 2vh;
	margin-right: 2vh;
	& a:hover{
		color:#21a9cc;
		text-decoration:none;
		text-transform:uppercase;
	}
}

.redesRecibe{
	margin-top: 40%;
	list-style-position: inside;
	font-size: 1rem;
	margin-left: 2vh;
	margin-right: 2vh;

	& a:hover{
		color:#21a9cc;
		text-decoration:none;
		text-transform:uppercase;
	}
}

.contactoTitulo{
	padding: 15px;
	font-size: 1.5rem;
	font-weight: 800;
	word-spacing: 0.3rem;
	text-align: center;
	background-color: rgba(155, 180, 239,.55);
	color: #081534;
	grid-area:tit;
}
.contactoUbi{
	grid-area:ubi;
	align-items: center;
	text-align: center;
	padding: 15px;
}

.contactoRedes{
	grid-area:conRed;
	align-content: center;
	padding: 15px;
}

.boxContacto{
	display: grid;
	grid-template-areas: 
	"tit tit"
	"conRed ubi";
}

.subtitulo{
	color: #5881e4;
	font-weight: 300;
	font-size: 30px;
	background-color:  #081534;
	color:#8aa7ec;
	text-align: center;
}

@media all and (max-width: 992px){
	.contactoTitulo{
	font-size: 25px;
	font-weight: 800;
	word-spacing: 0.3rem;
	text-align: center;
	background-color: rgba(155, 180, 239,.55);
	color: #081534;
	grid-area:tit;
}
.contactoUbi{
	grid-area:ubi;
	align-items: center;
	text-align: center;
	padding: 15px;
	iframe{
	width: 400px;
	height: 100px;
	}
}

.contactoRedes{
	grid-area:conRed;
	text-align: left;
	padding: 15px;
}

.boxContacto{
	box-sizing: border-box;
	display: grid;
	grid-template-areas: 
	"tit"
	"conRed"
	"ubi";
}
.subtituloContacto{
	padding:5px;
	color: #5881e4;
	font-weight: 300;
	font-size: 30px;
	background-color:  #081534;
	color:#8aa7ec;
	text-align: left;
}

}

@media all and (max-width: 576px){
	.contactoTitulo{
	font-size: 25px;
	font-weight: 800;
	word-spacing: 0.3rem;
	text-align: center;
	background-color: rgba(155, 180, 239,.55);
	color: #081534;
	grid-area:tit;
}
.contactoUbi{
	grid-area:ubi;
	align-items: center;
	text-align: center;
	padding: 15px;
	iframe{
	width: 200px;
	height: 100px;
	}
}

.contactoRedes{
	grid-area:conRed;
	text-align: left;
	padding: 15px;
}

.boxContacto{
	box-sizing: border-box;
	display: grid;
	grid-template-areas: 
	"tit"
	"conRed"
	"ubi";
}
.subtituloContacto{
	padding:5px;
	color: #5881e4;
	font-weight: 300;
	font-size: 30px;
	background-color:  #081534;
	color:#8aa7ec;
	text-align: left;
}

}

.lista{
	list-style-position: inside;
	color: #2153cc;
}

.categoriasProductos{
	list-style-position: inside;
	color: #2153cc;
	font-weight: bold;
}

.cardsProductos{
	margin-left: 15px;
}

.virtual{
	margin-left: 10vh;
	margin-bottom: 9vh;
	color: #255adc;
	font-size: 4vh;
	font-weight: 800;
	line-height: 2rem;
}

.presencial{
	margin-left: 10vh;
	margin-bottom: 9vh;
	color: #255adc;
	font-size: 4vh;
	font-weight: 800;
	line-height: 2rem;
	p{
		width: 20rem;
		height: 3rem;
	}
}

.curPres{
	background-color: #133178;
	color: white;
	&:hover{
	background-color: white;
	color: #133178;
	}
}

.wpp{
	width: 70px;
	position: fixed;
	bottom: 2%;
	right: 2%;
}

.newsYRed {
  display: flex; 
  flex-wrap: wrap
}


@media all and (max-width: 576px){
	.newsletter{
		grid-area: new;
	}
	.redesHome{
		grid-area: redHome;
	}
	.gridNews{
		display: grid;
		grid-template-areas: 
		"new"
		"redHome";
	.newsYRed {
	  display: flex; 
	  flex-wrap: wrap
	}
}
}

.dropdown-item{
	color: #060e23;
	font-weight: 300;
	font-size: 3vh;
	&:hover{
		background-color: #5881e4;
		color: white;
	}
}


#dropdownMenuLink{
	margin-left: 2vh;
	margin-top: 2vh;
	background-color: #688de7;
	color: #133178;
}

.dropdown{
	display: flex;
}

.btnVolver{
	margin-left: 2vh;
	margin-top: 2vh;
	background-color: #dfe7fa;
	display:flex;
	border-radius: .25rem;
	&:hover{
	background-color: #4774e1;
	color: #030712;
	text-decoration:none;
	}
}


.card1{
	align-items:center;
	width: 337.25px;
	min-height: 450px;	
}

.card-body{
	color: #133178;
}

.btnCarrito{
	display:flex;
	background-color: #030712;
	color: #4774e1;
	align-items: center;
	&:hover{
	background-color: #4774e1;
	color: #030712;
	}
}

.card-title__modifier{
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
}

.modal-header{
	font-weight:700;
	color: #030712;
}

.modal-body{
	font-weight:700;
	color: #030712;
}

@media all and (min-width: 577px){
.carouselResp{
	display: none;
}

}

@media all and (max-width: 576px){
	
.carouselGrande{
	display:none;
}

}

.btn{
	.btn__submit{
	background-color: #688de7;
	color: #000;
	&:hover{
	background-color:#000 ;
	color: #688de7;
	}
}
}

form{
	max-width: 400px;
}

.tituloForm{
	font-weight: 300;
	font-size: 1rem;
	input{
	width: 30vh;
	&:focus{
		background-color: #dfe7fa;
		color: #060e23;
	}
	}
}

.subtituloForm{
	color: #5881e4;
	font-weight: 300;
	font-size: 30px;
}

.recibe{
	font-weight:800;
	font-size:30px;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.prodPrin{
		display: none;
	}
	form{
		max-width: 200px;
	}
}

.tituloNosotrosClaro{
	background-color: rgba(155, 180, 239,.55);
	color: #081534;
	font-size: 20px;
	text-align: center;
}

.tituloNosotrosOscuro{
	background-color: rgba(22, 56, 136,.55);
	color: #9bb4ef;
	font-size: 20px;
	text-align: center;
}

.divisorNosotrosClaro{
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 30px;
	text-transform: uppercase;
	text-align:center;
	color: #030712;
}

.divisorNosotrosOscuro{
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 30px;
	text-transform: uppercase;
	text-align:center;
	color: #dfe7fa;
}

.textoNosotros{
	margin:15px;
	font-size: 1.5rem;
}


.col-sm__proceso{
	margin: 20px;
	h3{
		margin: 10px;
		color: #0b1c45;
		font-weight:bold;
	}	
	p{
		margin: 20px;
	}
}

.col-sm__materiales{
	margin: 20px;
	background-color: #112a67;
	h3{
		margin: 10px;
		color: #0b1c45;
		font-weight:bold;
	}	
	p{
		margin: 20px;
	}
}

#materiales{
	color: #f0f3fc;
	font-weight:bold;
}











